/* .quarto-title-block .quarto-title-banner {
    background-image: url(pictures/Logos/Logo_TransKI_Neu.png);
    background-size: 300px;
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 10px;
    background-origin: content-box;
  } */
.quarto-figure figcaption,
figure.quarto-figure-center figcaption {
  text-align: center;
}